@import "tailwindcss";

.custom-scrollbar::-webkit-scrollbar {
  width: 12px; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #ff6b6b, #4ecdc4); 
  border-radius: 12px; 
  border: 2px solid #fff; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  transition: background 0.3s ease; 
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #ff8787, #66e0d8); 
  transform: scale(1.1); 
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffe5e5; 
  border-radius: 12px; 
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); 
  margin: 4px 0; 
}